<h1>Golf Course Reviews</h1>

<ul>
    <% @golfcourses.each do |c| %>
        <li>
        	<%= c.name %> 
        
        	<%= link_to 'Show', golfcourse_path(c) %>
        </li>
    <% end %>
</ul>