<h1>Golf Course Reviews</h1>

<ul>
    <% @golfcourses.each do |course| %>
        <li>
        	<%= course.name %> 
        
        	<button type="button" class="btn btn-default btn-xs">
        	<%= link_to 'Show', golfcourse_path(course) %></button>
        </li>
    <% end %>
</ul>