<h1>Golf Course Reviews</h1>

<ul>
    <% @golfcourses.each do |course| %>
        <li>
        	<%= course.name %> 
        
        	<%= link_to 'Show', golfcourse_path(course) %>
        </li>
    <% end %>
</ul>